* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
}

.wrapper {
  width: 100%;
  background-color: #070707;
}

.container {
  width: 1560px;
  margin: 0 auto;
}
@media (max-width: 1560px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.burger {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 35px 0;
}

.top-menu__logo img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-menu__logo {
  max-width: 104px;
  height: 100%;
  margin-right: calc(20px + 86 * ((100vw - 320px) / 1120));
}

.nav, .top-menu, .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: calc(5px + 55 * ((100vw - 320px) / 1120));
}
@media (min-width: 1920px) {
  .nav__item:not(:last-child) {
    margin-right: 60px;
  }
}

.nav__item {
  border-bottom: 1px solid transparent;
}

.nav__item:hover {
  border-bottom: 1px solid #ff7000;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.nav__link {
  font-size: calc(12px + 3 * ((100vw - 320px) / 1120));
  font-weight: 500;
  letter-spacing: calc(1px + 0.5 * ((100vw - 320px) / 1120));
}
@media (min-width: 1920px) {
  .nav__link {
    font-size: 15px;
  }
}

.user__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: calc(20px + 20 * ((100vw - 320px) / 1120));
}

.user__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__link {
  font-size: calc(12px + 3 * ((100vw - 320px) / 1120));
  font-weight: 500;
  letter-spacing: calc(1px + 0.5 * ((100vw - 320px) / 1120));
  margin-right: calc(5px + 9 * ((100vw - 320px) / 1120));
}

.user__icon._search {
  -webkit-mask-image: url(img/01.svg);
          mask-image: url(img/01.svg);
}

.user__icon._account {
  -webkit-mask-image: url(img/02.svg);
          mask-image: url(img/02.svg);
}

.user__icon {
  background-color: #ffffff;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 16px;
  height: 14px;
  display: block;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slide:after {
  content: "";
  position: absolute;
  background: url(img/semi-bg.png) right/cover no-repeat;
  top: 0;
  right: 0;
  width: 33.906vw;
  height: 100%;
  z-index: 1;
}

.slide .slide__text-box {
  max-width: 765px;
  width: 100%;
  z-index: 2;
}

.slide .slide__sub-title {
  color: #b7b9be;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 22px;
}

.slide h1 {
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 1.13px;
  margin-bottom: 30px;
}
@media (max-width: 1170px) {
  .slide h1 {
    font-size: calc(24px + 21 * ((100vw - 320px) / 850));
  }
}
@media (min-width: 1700px) {
  .slide h1 {
    white-space: nowrap;
  }
}

.slide p {
  font-weight: 400;
  letter-spacing: 0.47px;
  font-size: calc(16px + 3 * ((100vw - 320px) / 1120));
  margin-bottom: 40px;
}

.slide .btn {
  padding: 25px 37px 22px 36px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  color: #ffffff;
  outline: 1px solid #ffffff;
}

.slide__buttons .slide__button:first-child {
  margin-right: 25px;
}

.slide .btn:hover {
  outline: 1px solid #ff7000;
}

.slide .slide__img {
  position: relative;
  max-width: 37.292vw;
  width: 100%;
  margin-right: 7.292vw;
}
@media (min-width: 1920px) {
  .slide .slide__img {
    margin-right: 140px;
  }
}

.slide .slide__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide__img .abs-img._two {
  max-width: 16.917vw;
  width: 100%;
  position: absolute;
  bottom: 73px;
  right: 140px;
}

.slide__img .abs-img._tree {
  max-width: 20.917vw;
  width: 100%;
  position: absolute;
  bottom: 90px;
  right: 67px;
}

.slide__img .abs-img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide__img .abs-img {
  max-width: 22.917vw;
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 53px;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-container {
  overflow: hidden;
}

.swiper-pagination {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-pagination-bullet {
  font-size: 15px;
  padding-right: 20px;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  position: relative;
  background-color: transparent;
  padding-left: 35px;
  height: 100%;
}
.swiper-pagination > .swiper-pagination-bullet-active:before {
  content: "____";
  position: absolute;
  color: #7d3701;
  left: 0px;
  bottom: 0px;
}